<mat-toolbar color="primary" class="mat-elevation-z6 toolbar">
  <button mat-icon-button  (click)="sideNav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <button mat-button>
    Components
  </button>
  <button mat-button>
    CDK
  </button>
  <button mat-button>
    Guides
  </button>
  <span class="example-spacer"></span>
  <button mat-icon-button>
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button>
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container class="example-container">
  <mat-sidenav #sideNav
    class="example-sidenav"
    [fixedInViewport]="true"
    [fixedTopGap]="64"
    [fixedBottomGap]="0"
    [mode]="!(isHandset$ | async) ? 'side': 'over'"
    [opened]="!(isHandset$ | async)"
    [@onSideNavChange]="state ? 'open' : 'close'"
  >
  <div class="sidenav-container">
    <mat-nav-list
      class="nav-list">
      <a mat-list-item *ngFor="let page of pages">
        <mat-icon style="padding-right:5px;">{{page?.icon}}</mat-icon>
        <span [@animateText]="state ? 'show' : 'hide'">{{ page?.name }} </span>
      </a>
    </mat-nav-list>
    <span class="example-spacer"></span>
    <div style="padding: 0px 10px; height: 48px;">
      <button mat-icon-button (click)="toggle()">
        <mat-icon *ngIf="state">arrow_left</mat-icon>
        <mat-icon *ngIf="!state">arrow_right</mat-icon>
      </button>
    </div>
  </div>
  </mat-sidenav>

  <mat-sidenav-content
    [@onMainContentChange]="state ? 'open' : 'close'"
  >
    <h1>Type2</h1>
  </mat-sidenav-content>
</mat-sidenav-container>
